/*/////////////////////////////////////////
	Developed by Starr Development
/////////////////////////////////////////*/
	body{
		width:100%;
		margin:0;
		font-family: 'Quicksand', sans-serif;
		background-color: lightgrey;
	}
/*/////////////////////////////////////////
	Essentials
/////////////////////////////////////////*/
	.filter{
		display:none;
		margin:0;
		background-color:rgba(0,0,0,0.6);
		position:absolute;
		right:0;top:0;bottom:0;left:0;
		z-index:198;
	}
	.page{
		width:100%;max-width:1200px;
		height:auto;
		margin:0 auto;
		background-color:lightgrey;
		position: relative;
		overflow:hidden;
		text-align: center;
	}
	.page-inner{
		width:98%;height:auto;
		margin:1% auto 0 auto;
		background-color:white;
		position:relative;
		overflow: hidden;
	}
	.center{
		width:100%;height:auto;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
	}
/*/////////////////////////////////////////
	Navigation
/////////////////////////////////////////*/
	.navigation{
		width:100%;height:auto;
		position: absolute;
		top:0;
		overflow: hidden;
	}
	.navigation-ghost{
		width:100%;height:90px;
		margin:0;
	}
	.mobile-navigation{
		width:100%;height:60px;
		background-color:#212121;
		position: fixed;
		z-index: 400;
		display: none;
	}
		.mobile-navigation img{
			height:100%;margin:0 0 0 10px;
		}
		.mobile-navigation-btn{
			width: 40px;
			height: 30px;
			position: absolute;
			right:15px;top:17px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
		}
		.mobile-navigation-btn span{
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: white;
			border-radius: 0;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}
		.mobile-navigation-btn span:nth-child(1) {
			top: 0px;
		}

		.mobile-navigation-btn span:nth-child(2),.mobile-navigation-btn span:nth-child(3) {
			top: 12px;
		}

		.mobile-navigation-btn span:nth-child(4) {
			top: 24px;
		}

		.mobile-navigation-btn.open span:nth-child(1) {
			top: 18px;
			width: 0%;
			left: 50%;
			background:#212121;
		}

		.mobile-navigation-btn.open span:nth-child(2) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
			background:#212121;
		}

		.mobile-navigation-btn.open span:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
			background:#212121;
		}

		.mobile-navigation-btn.open span:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
			background:#212121;
		}



		.mobile-navigation-logo{
			width:170px;height:60px;
			background-image:url("../img/main-logo.png");
			background-size:170px 60px;
			background-position: center;
			background-repeat: no-repeat;
			margin:0 0 0 10px;
		}
		.mobile-navigation-drop{
			width:100%;height:auto;
			position: absolute;
			top:60px;
			margin:0;
			overflow: hidden;
			background-color: white;
			text-align: center;
			display: none;
		}
			.mobile-navigation-drop ul{
				width:70%;
				margin:7% auto;
			}
			.mobile-navigation-drop li{
				text-align: left;
				display: block;
				padding:10px;
			}
			.mobile-navigation-drop li a{
				display: block;
				font-size:18px;
				color:black;
				text-decoration: none;
			}
			.mobile-navigation-underline{
				display: block;
				width:100%;height:1px;
				background-color: lightgrey
			}
			.mobile-navigation-drop-cart{
				width:100%;height:auto;
				background-color:darkorange;
				text-align: center;
			}
			.mobile-navigation-drop-cart a{
				display: block;
				color:white;
				padding:20px 0;
			}
			.mobile-navigation-drop-account{
				width:100%;height:auto;
				background-color:white;
				text-align: center;
			}
			.mobile-navigation-drop-account a{
				display: inline-block;
				padding:10px 0;
			}
	.desktop-navigation{
		width:100%;height:90px;
		background-color:#212121;
		position: relative;
		z-index: 400;
		display: block;
		overflow: hidden;
	}
		.desktop-navigation-container{
			width:100%;max-width:1200px;
			height:60px;
			margin:0 auto;
			position: relative;
		}
		.desktop-navigation-cart{
			width:auto;height:30px;
			text-align:right;
			margin:0 1% 0 0;
		}
		#desktop-navigation-cart-links{
			text-decoration: none;
			color:white;
			display:inline-block;
			padding:6px 10px;
			font-size:15px;
			vertical-align: top;
		}
		.desktop-navigation-logo{
			width:227px;height:90px;
			background-image:url("../img/main-logo.png");
			background-size:170px 60px;
			background-position: center;
			background-repeat: no-repeat;
			margin:0 0 0 0;
			position: absolute;
			top:-30px;left:0;
		}
		.desktop-navigation ul{
			height:30px;width:auto;
			display: inline-block;
			overflow: hidden;
			margin:15px 0;
		}
		.desktop-navigation-li{
			display: inline-block;
			margin:0;
			overflow: hidden;
			height:30px;
		}
		.desktop-navigation-div{
			display: inline-block;
			margin:6px 0;
			height:17px;width:1px;
			background-color: white;
			vertical-align: center;
		}
		.desktop-navigation li a{
			display: block;
			padding:6px 12px;
			text-decoration: none;
			color:white;
		}
		.desktop-navigation-right{
			height:60px;width:auto;
			position: absolute;
			right:0;top:0;
		}
		.desktop-navigation-search{
			height:30px;width:200px;
			margin:15px 15px 15px 10px;
			overflow: hidden;
			position: relative;
			display: inline-block;
		}
		.desktop-navigation-search-icon{
			position: absolute;
  			top: 5px;right:10px;
  			z-index: 1;
  			color: #4f5b66;
  			transition:transform 1s ease-in-out;
  			transition:color .5s ease-in-out;
		}
		.desktop-navigation-search-icon:hover{
			transform: scale(1.1);
			color:darkorange;
		}
		.desktop-navigation-search input{
			margin:0 10px 0 0;
			height:30px;
			border:none;
			line-height: normal;
			padding:4px 0 0 10px;
		}
	@media only screen and (max-width: 960px){
		.mobile-navigation{
			display:block;
		}
		.navigation-ghost{
			height:60px;
		}
		.desktop-navigation{
			display:none;
		}
	}
/*/////////////////////////////////////////
	Footer
/////////////////////////////////////////*/
	#footer{
		width:100vw;height:80px;
		background-color:#212121;
		text-align: center;
		margin:.7% 0 0 0;
		position: relative;
		overflow: hidden;
	}
	#footer-title{
		color:white;
		font-size:13px;
		display: inline-block;
		padding:22px 0 10px 0;
		text-decoration: none;
	}
	#footer span{
		display: block;
		padding: 0 0 12px;
	}
	#footer span i{
		color:white;
		display: inline-block;
		padding:0;
		margin:0 6px;
		-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
		transform: scale(1.5);
		transition:transform .2s ease;
	}
	#footer span i:hover{
		transform: scale(2.5);
	}
/*/////////////////////////////////////////
	SOCIAL MEDIA
/////////////////////////////////////////*/
	.social{
		width:100%;height:auto;
		text-align: center;
		margin:20px auto;
		overflow: hidden;
	}
	.social a{
		margin:0 20px;
		color:black;
		display: inline-block;
		text-decoration:none;
		transition:color .5s ease-in-out;
	}
	.social a:hover, .social a:focus{
		color:darkorange;
	}
/*/////////////////////////////////////////
	Homepage
/////////////////////////////////////////*/
	.home-container{
		/*Primary container for homepage */
		width:100%;max-width:1200px;
		height:auto;
		background-color:lightgrey;
		margin:0 auto;
		overflow: hidden;
		white-space: nowrap;
	}
	.home-youtube-main{
		width:70%;padding-bottom:39%;
		background-color: grey;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}
	.home-youtube-main iframe{
		position:absolute;
		top:0;left:0;
		width:100%;height:100%;
	}
	.home-youtube{
		white-space: nowrap;
		background-color:transparent;
		margin-top:1%;
	}

	.home-top-content{
		width:29%;padding-bottom:39%;
		background-color:white;
		display: inline-block;
		vertical-align: top;
		margin:0 0 0 1%;
		position: relative;
	}
	.home-top-content-container{
		position:absolute;
		right:0;left:0;
		width:100%;height:100%;
		overflow: hidden;
	}
	.home-top-content-title{
		display: block;
		text-align: left;
		padding:20px 20px 10px 20px;
		font-size:20px;
	}
	.home-top-content-divider{
		width:90%;height:1px;
		background-color: #212121;
		margin:0 auto;
	}
	.home-top-content-text{
		display: block;
		padding:10px 20px;
		margin:0 auto;
		text-align: left;
		white-space: normal;
	}
	.home-top-content-btn{
		display: block;
		padding:15px 20px 12px 20px;
		max-width:50%;
		margin:0 auto;
		color:#212121;
		border:solid 1px #212121;
		position: absolute;
		bottom:20px;right:0;left:0;
		text-decoration: none;
	}
	.home-top-content-btn:hover,.home-top-content-btn:focus{
		color:lightgrey;
		background-color: #212121;
	}	
	.home-content-title{
		text-align: left;
		color:#212121;
		font-size:18px;
		display: block;
		padding:1.5% 1.5% 0 1.5%;
	}

	.home-project{
		width:98%;height:auto;
		text-align: center;
		margin:0 auto;
	}
	.home-project-tile{
		width:24%;padding-bottom:15%;
		display: inline-block;
		vertical-align: top;
		margin:1.5% .5%;
		background-color:#212121;
		position: relative;
	}
	.home-project-tile img{
		position: absolute;
		top:0;left:0;
		width:100%;height:100%;
		box-shadow:inset 0 0 20px #000;
	}
	.home-project-tile-shadow{
		position: absolute;
		left:0;top:0;
		width:100%;height:100%;
		z-index: 10;
		box-shadow:inset 0 0 20px #000;
	}

	.home-featured-products{
		width:98%;height:auto;
		max-height:410px;
		text-align: center;
		margin:0 auto;
		white-space: normal;
	}
	.home-featured-product{
		width:23.5%;height:auto;
		display: inline-block;
		vertical-align: top;
		margin:1.5% .5%;
	}
	.home-featured-product-btn{
		max-width:40%;width:100%;
		background-color:#212121;
		color:white;
		display: block;
		padding:5px;
		font-size:15px;
		border-radius: 5px;
		margin:10px auto;
		text-decoration: none;
	}
	.home-featured-product-btn:hover,.home-featured-product-btn:focus{
		color:#212121;background-color:lightgrey;
	}
	.home-featured-products-anchor{
		width:100%;height:1px;
		margin:20px 0;
	}
	.home-featured-products-view{
		position: absolute;
		display: block;
		padding:10px;
		font-size:15px;
		color:#212121;
		margin:0 auto;
		right:0;left:0;bottom:0;
		background-color: white;
	}
	.home-aboutme{
		width:98%;height:auto;
		background-color:white;
		margin:1% auto;
		white-space: normal;
	}
	.home-aboutme p{
		display: block;
		padding:1%;
		color:black;
	}
	@media only screen and (max-width: 960px){
		.home-youtube-main{
			display:block;
			width:100%;padding-bottom:55%;
		}
		.home-top-content{
			display:none;
		}
	}
	@media only screen and (max-width: 720px){
		.home-featured-product{
			width:48%;
		}
		.home-project{
			white-space: normal;
			text-align: center;
			margin:1% auto;
		}
		.home-project-tile{
			width:49%;padding-bottom:28%;
			margin:.5%;
		}
	}
	@media only screen and (max-width: 560px){
		.home-featured-product-btn{
			max-width:80%;
		}
	}
/*/////////////////////////////////////////
	TERMS AND CONDITIONS
/////////////////////////////////////////*/
/*/////////////////////////////////////////
	SINGLE PRODUCT PAGE
/////////////////////////////////////////*/
	.product-page-back{
		text-align: left;
		color:grey;
		display: inline-block;
		text-decoration: none;
		padding:10px 0;
		margin:0;
	}
	.product-page-back-span{
		padding-left:10px;
	}
	#product-page-image-container{
		width:40%;height:auto;
		margin:1%;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		text-align: left;
	}
	#product-page-image{
		position: relative;
		width:100%;padding-bottom:100%;
		margin:0;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		
	}
	#product-page-image-more{
		display: block;
		margin:0;
		width:100%;padding-bottom:25%;
		position: relative;
		overflow-x:scroll;
		overflow-y:hidden;
	}
	#product-page-image-more-inner{
		position: absolute;
		left:0;top:0;
		width:100%;
		height: 100%;
	}
	
	.product-page-image-more-tile{
		display: inline-block;
		height:100%;width:25%;
		position: relative;
	}
	.product-page-image-more-tile div{
		position: absolute;
		right:0;left:0;top:0;bottom:0;
		border:solid 1px grey;
	}
	.product-page-image-more-tile img{
		position: absolute;
		right:0;left:0;
		top:0;bottom:0;
		background-color:green;
	}
	#product-page-image img{
		position: absolute;
		left:0;top:0;
		width: 100%;height:100%;
	}
	#product-page-main-container{
		width:100%;height:auto;
		white-space: nowrap;
		text-align: center;
		margin:0;
	}
	#product-page-right-container{
		width:57%;padding-bottom:48%;
		margin:1% 1% 1% 0;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		position: relative;
	}
	#product-page-right-insert{
		position: absolute;
		left:0;top:0;
		width:100%;height:100%;
		background-color:white;
		color:#212121;
	}
	@media only screen and (max-width: 960px){
		#product-page-right-container{
			width:100%;
			display: block;
			text-align: center;
		}
		#product-page-image-container{
			width:100%;
			display: block;
			margin:0;
		}
	}
/*/////////////////////////////////////////
	MAIN PRODUCTS PAGE
/////////////////////////////////////////*/
	.products-page-tile{
		width:23.7%;height:auto;
		background-color: white;
		display: inline-block;
		margin:1% .5% 0 .5%;
		overflow: hidden;
		vertical-align: top;
	}
	.products-page-tile img{}
	.products-page-wrap{
		text-decoration: none;
		color:#212121;
	}
	.products-page-container{
		width:100%;height:auto;
		text-align: center;
		margin:0 auto;
	}
	#products-page-top{text-align: right;}
	#products-page-top a{
		display: inline-block;
		padding:10px;
		color:#212121;
		text-decoration: none;
	}
	@media only screen and (max-width: 960px){
		.products-page-tile{
			width:32%;
		}
	}
	@media only screen and (max-width: 660px){
		.products-page-tile{
			width:49%;
		}
	}
/*/////////////////////////////////////////
	Popup
/////////////////////////////////////////*/
	#popup-container{
		position: absolute;
		right:0;top:0;bottom:0;left:0;
		margin:0;
		background-color:rgba(0,0,0,0.5);
		z-index:2000;
	}
	#popup{
		position:absolute;
		right:0;left:0;top:20%;
		margin:0 auto;
		width:100%;height:100%;
		background-color:white;
		width:30%;height:40%;
		overflow: hidden;
	}
	#popup-exit{
		position: absolute;
		right:12px;top:8px;
		z-index: 2;
		color:black;
		transition:color .6s ease-in-out;
	}
	#popup-exit:hover,#popup-exit:focus{
		color:orange;
		cursor:pointer;
		text-shadow: 0 0 1px #000;
	}
	#popup-title-container{
		position:relative;
		background-color: lightgrey;
	}
	#popup-title{
		padding:13px 0 12px 20px;
		display: block;
		font-size:20px;
		text-align: left;
	}
	#popup-content{
		position: relative;
		width:100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	@media only screen and (max-width: 960px){
		#popup{
			width:80%;height:70%;
		}
	}
	@media only screen and (max-width: 500px){
		#popup{
			width:90%;height:70%;
		}
	}
/*/////////////////////////////////////////
	END
/////////////////////////////////////////*/

