/*/////////////////////////////////////////
	Developed by Starr Development
/////////////////////////////////////////*/
	body{margin:0;font-family:helvetica;}
/*/////////////////////////////////////////
	Essentials
/////////////////////////////////////////*/
	.filter{
		display:none;
		margin:0;
		background-color:rgba(0,0,0,0.6);
		position:absolute;
		right:0;top:0;bottom:0;left:0;
		z-index:198;
	}
	.divider{
		width:90%;height:1px;
		background-color:grey;
		margin:20px auto;
		max-width:1200px;
	}
	.down-for-maintenance{
		width:90%;height:auto;
		margin:20px auto 0 auto;
		text-align: center;
	}
	.down-for-maintenance a{display:block;padding:20px 0;}
	.navigation-cutter{
		width:90%;height:auto;
		margin:10px auto 20px auto;
		text-align: left;
	}
	.navigation-cutter a{
		display:inline-block;
		padding:10px 0 0 0;
		text-decoration: none;
		color:grey;
	}
	.center{
		width:100%;max-width:1100px;
		height:auto;
		margin:0 auto;
	}
/*/////////////////////////////////////////
	Navigation
/////////////////////////////////////////*/
	.navigation{
		width:100vw;height:auto;
		position: absolute;
		top:0;
	}
	.navigation-ghost{
		width:100vw;height:60px;
		margin:0;
	}
	
	.mobile-navigation{
		width:100%;height:60px;
		background-color:#212121;
		position: fixed;
		z-index: 400;
		display: none;
	}
		.mobile-navigation img{
			height:100%;margin:0 0 0 10px;
		}
		.mobile-navigation-btn{
			width:30px;height:30px;
			background-image:url("../img/navigation-btn-inverted.png");
			background-size:30px 30px;
			background-position: center;
			background-repeat: no-repeat;
			position:absolute;
			right:15px;top:15px;
		}
		.mobile-navigation-logo{
			width:170px;height:60px;
			background-image:url("../img/main-logo.png");
			background-size:170px 60px;
			background-position: center;
			background-repeat: no-repeat;
			margin:0 0 0 10px;
		}
		.mobile-navigation-drop{
			width:100%;height:auto;
			position: absolute;
			top:60px;
			margin:0;
			overflow: hidden;
			background-color: white;
			text-align: center;
			display: none;
		}
			.mobile-navigation-drop ul{
				width:70%;
				margin:7% auto;
			}
			.mobile-navigation-drop li{
				text-align: left;
				display: block;
				padding:10px;
			}
			.mobile-navigation-drop li a{
				display: block;
				font-size:18px;
				color:black;
				text-decoration: none;
			}
			.mobile-navigation-underline{
				display: block;
				width:100%;height:1px;
				background-color: lightgrey
			}
			.mobile-navigation-drop-cart{
				width:100%;height:auto;
				background-color:darkorange;
				text-align: center;
			}
			.mobile-navigation-drop-cart a{
				display: block;
				color:white;
				padding:20px 0;
			}
			.mobile-navigation-drop-account{
				width:100%;height:auto;
				background-color:white;
				text-align: center;
			}
			.mobile-navigation-drop-account a{
				display: inline-block;
				padding:10px 0;
			}
	.desktop-navigation{
		width:100%;height:90px;
		background-color:#212121;
		position: relative;
		z-index: 400;
		display: block;
		overflow: hidden;
	}
		.desktop-navigation-container{
			width:100%;max-width:1100px;
			height:60px;
			margin:0 auto;
			position: relative;
		}
		.desktop-navigation-cart{
			width:100%;height:3s0px;
			text-align:right;
		}
		.desktop-navigation-cart a{
			text-decoration: none;
			color:white;
			display:inline-block;
			padding:5px 0;
			font-size:15px;
		}
		.desktop-navigation-logo{
			width:170px;height:60px;
			background-image:url("../img/main-logo.png");
			background-size:170px 60px;
			background-position: center;
			background-repeat: no-repeat;
			margin:0 0 0 0;
		}
		.desktop-navigation ul{
			height:30px;width:auto;
			display: inline-block;
			overflow: hidden;
			margin:15px 0;
		}
		.desktop-navigation-li{
			display: inline-block;
			margin:0;
			overflow: hidden;
			height:30px;
		}
		.desktop-navigation-div{
			display: inline-block;
			margin:5px 0;
			height:20px;width:2px;
			background-color: grey;
		}
		.desktop-navigation li a{
			display: block;
			padding:6px 15px;
			text-decoration: none;
			color:white;
		}
		.desktop-navigation-right{
			height:60px;width:auto;
			position: absolute;
			right:0;top:0;
		}
		.desktop-navigation-search{
			height:30px;width:200px;
			margin:15px 0 15px 10px;
			overflow: hidden;
			position: relative;
			display: inline-block;
		}
		.desktop-navigation-search-icon{
			position: absolute;
  			top: 7px;right:10px;
  			z-index: 1;
  			color: #4f5b66;
		}
		.desktop-navigation-search input{
			margin:0;
			height:30px;
			border-radius: 5px;
		}
		@media only screen and (max-width: 960px){
			.mobile-navigation{
				display:block;
			}
			.desktop-navigation{
				display:none;
			}
		}
/*/////////////////////////////////////////
	Footer
/////////////////////////////////////////*/
	.footer{
		width:100vw;height:60px;
		background-color:#212121;
		text-align: center;
	}
	.footer-title{
		color:white;
		font-size:13px;
		display: inline-block;
		padding:22px 0;
	}
/*/////////////////////////////////////////
	SOCIAL MEDIA
/////////////////////////////////////////*/
	.social{
		width:90%;height:auto;
		text-align: center;
		margin:0 auto 20px auto;
	}
	.social span{
		margin:0 20px;
	}
/*/////////////////////////////////////////
	Youtube
/////////////////////////////////////////*/
	.youtube{
		width:100vw;height:auto;
		max-width:1200px;
		margin:0 auto;
		overflow: hidden;
		text-align: center;
	}
	.youtube-center{
		width:90%;padding-bottom:51%;
		background-size:cover;
		background-position:center;
		background-color:#000;
		background-image:url("../img/yt-preview-1.png");
		margin:5% auto 0 auto;
		box-shadow:inset 0px 0px 20px black;
	}
	.youtube-tile{
		width:28%;padding-bottom:17%;
		margin:2% 1%;
		display: inline-block;
		background-size:cover;
		background-position:center;
		background-color:#000;
		box-shadow:inset 0px 0px 20px black;
	}
	.yt-tile-1{
		background-image:url("../img/yt-preview-2.png");
	}
	.yt-tile-2{
		background-image:url("../img/yt-preview-3.png");
	}
	.yt-tile-3{
		background-image:url("../img/yt-preview-4.png");
	}
	.youtube-view{
		width:50%;height:auto;
		background-color:#212121;
		margin:0 auto;
	}
	.youtube-view{
		color:white;
		padding:12px 0 10px 0;
		max-width:200px;
	}
/*/////////////////////////////////////////
	PROJECT PANEL
/////////////////////////////////////////*/
	.project{
		width:90%;height:auto;
		max-width: 1200px;
		margin:20px auto 0 auto;
		overflow:hidden;
	}
	.project-title{
		font-size:20px;
		display: block;
		margin:0 0 20px 0;
	}
	.project-tile{
		width:100%;height:auto;
		max-width:600px;
		display: inline-block;
		background-color:grey;
		margin:10px auto;
		text-align: center;
		position: relative;
		background-position:center;
		background-size:cover;
		background-repeat: no-repeat;
	}
	.project-tile a{
		position: relative;
		z-index: 5;
		font-size:17px;
		color:white;
		display: block;
		padding:20px 0 17px 0;
	}
	.project-filter{
		position:absolute;
		right:0;left:0;top:0;bottom:0;
		background-color:rgba(0,0,0,0.7);
		z-index:4;
	}
	.project1{
		background-image: url("../img/project-1.png");
	}
	.project2{
		background-image: url("../img/project-2.png");
	}
/*/////////////////////////////////////////
	FEATURED PRODUCTS
/////////////////////////////////////////*/
	.products{
		width:90%;height:auto;
		max-width: 1200px;
		margin:20px auto 0 auto;
		overflow:hidden;
	}
	.product{
		width:30%;height:auto;
		max-width:200px;
		text-align: center;
		display: inline-block;
		margin:5px 1% 10px 1%;
		background-color:red;
	}
/*/////////////////////////////////////////
	TERMS AND CONDITIONS
/////////////////////////////////////////*/
	.terms{
		position: absolute;
		top:0;right:0;left:0;
		background-color:white;
		z-index: 500;
		text-align: left;
		height: auto;
		display: none;
	}
	.terms-title{
		display: block;
		font-size:25px;
		margin:40px 0 20px 20px;
		color:black;
	}
	.terms-text{
		display: block;
		padding:0 0 20px 0;
	}
	.terms-container{
		width:90%;height:auto;
		margin:0 auto;
	}
	.terms-close{
		position: absolute;
		right:15px;top:15px;
		width:30px;height:30px;
		border-radius: 50%;
		background-color:#212121;
	}
/*/////////////////////////////////////////
	PRODUCTS PAGE
/////////////////////////////////////////*/
.product-container {
	display: flex;
	flex-wrap: wrap;
}

.product {

	background: #717171;
	width: 300px;
	height: 355px;
	margin: 60px;
	padding: 10px;
	display: inline-block;
	border-radius: 3px;
	color: white;
}
/*/////////////////////////////////////////
	END
/////////////////////////////////////////*/
