/*/////////////////////////////////////////
	Developed by Starr Development
/////////////////////////////////////////*/



.product-page-container{
	width:90%;height:auto;
	margin:0 auto;
	overflow: hidden;
}
.product-page-image{
	width:100%;padding-bottom:100%;
	margin:0 auto;
	overflow: hidden;
	background-color:lightgrey;
}
.product-page-main{
	text-align: center;
}
.product-page-title{
	font-size:20px;
	display: block;
	padding:20px 5px;
}
.product-page-review{
	width:100px;height:20px;
	background-color:lightgrey;
	background-size:cover;
	background-repeat: no-repeat;
	background-image:url("../img/product-review.png");
	margin:0 auto;
	position: relative;
}
.product-page-review-top{
	float:left;
	height:100%;
	background-color:gold;
	background-size:cover;
	background-repeat: no-repeat;
	background-image:url("../img/product-review.png");
}
.product-page-price{
	display:block;
	padding:20px;
	font-size:25px;
}
.product-page-cart-btn{
	display: block;
	max-width:200px;
	background-color:darkorange;
	padding:15px 0px 13px 0;
	font-size:18px;
	margin:0 auto;
}

.product-page-description{
	width:100%;height:auto;
	max-height:200px;
	overflow:hidden;
	text-align: left;
	position:relative;
	transition: max-height 2s linear;
}
.product-page-description-show{
	position: absolute;
	right:0;left:0;bottom:0;
	background-color:rgba(0,0,0,0.8);
	text-align: center;
}
.product-page-description-show a{
	display: block;
	color:white;
	padding:10px 0;
}
.product-page-description-title{
	display: block;
	font-size:25px;
	padding:10px 0 20px 0;
}
.product-page-description-text{
	margin:0 0 50px 0;
	display: block;

}








































/*/////////////////////////////////////////
	END
/////////////////////////////////////////*/